*
{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(images/slider-bg2.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

.menu-bar{
    
    background: transparent;
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-bar ul li:hover
 {
    background: #ab0d15;
    border-radius: 3px;
}

.menu-bar .fa {
    margin-right: 8px;

}
.sub-menu-1{
    display: none;

}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: transparent;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover{
    background: #ab0d15;
    border-radius: 3px;
}

.fa-angle-right{
    float: right;
}

.sub-menu-2{
    display: none;

}
.sub-menu-3{
    display: none;

}

.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top:-44px;
    margin-left: 140px;
    background:transparent;

}

.hover-me2:hover .sub-menu-3{
    position:absolute;
    display: block;
    margin-top: -44px;
    margin-left: 140px;
    background:transparent;

}

.signin{
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 250px;
    margin: auto;
    height: 400px;
    

}

form{
    width: 240px;
    text-align: center;
}
input{
    width: 240px;
    text-align: center;
    background: transparent;
    border:none;
    border-bottom: 1px solid #fff;
    font-family: 'Play',sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

input[type=button]{
    
    border:none;
    width: 190px;
    background: white;
    color: #000;
      font-size: 16px;
    line-height: 25px;
    font-weight: 200px;
    padding: 10px 0;
    border-radius: 15px;
    cursor: pointer;
   
}

input[type=button]:hover
{
        color: #fff;
        background-color: black;
}
h2{
    color:white;
}

a{
    color:red;
    text-decoration: blink;

    padding: 10px;
    }

a:hover{
    color:skyblue;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder{
    color: aliceblue;
    opacity: 0.8;
}